<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {{ $host := partialCached "go-vanity-urls/functions/host" . }}
    <title>{{ $host }}</title>
  </head>
  <body>
    <h1>{{ $host }}</h1>
    <ul>
      {{ $mods := partialCached "go-vanity-urls/functions/modules" . }}
      {{ range (sort $mods ".Params.path") }}
        <li>
          <a href="{{ .Permalink }}">{{ .Params.import }}</a>
        </li>
      {{ end }}
    </ul>
  </body>
</html>
